@import "./../../style/sass/vars.scss";
.sectionProduct {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    max-width: 370px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    margin: 0 0 30px;
}

.textLight {
    color: $textLight;
}

.imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}