.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(164, 191, 202);
}

.catalogContent {
    display: grid;
    grid-template-columns: 301px 1fr;
    grid-template-rows: 100px 1fr 100px;
    border: 1px solid pink;
    grid-template-areas: 'title title' 'sidebar catalog' 'sidebar pagination';
}

.catalogTitleBlock {
    grid-area: title;
}

.filterProductsBlock {
    grid-area: sidebar;
}

.catalogCards {
    grid-area: catalog;
}

.paginationPages {
    grid-area: pagination;
}