.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(233, 189, 189);
}

.catalogContent {
    display: grid;
    grid-template-columns: 301px 1fr;
    grid-template-rows: 200px 1fr 200px;
    grid-template-areas: 'title title' 'sidebar catalog' 'sidebar pagination';
    margin-top: 40px;
}

.topTitle {
    grid-area: title;
}

.filterProductsBlock {
    grid-area: sidebar;
}

.catalogProducts {
    grid-area: catalog;
}

.catalogPagination {
    grid-area: pagination;
    display: flex;
    align-items: center;
    justify-content: center;
}

