.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.productsWraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}