.polzunok{
    display: flex;
    justify-content: space-between;
}

.polzunokInputLeft{
    max-width: 74px;
    padding-left: 12px;
    border:none;
}

.polzunokInputLeft::placeholder{
    text-decoration: underline;
    text-decoration-color: #2F3035;
    -moz-text-decoration-color: #2F3035;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.polzunokInputRight{
    max-width: 74px;
    padding-left: 12px;
    border:none;
    
}

.polzunokInputRight::placeholder{
    text-decoration: underline;
    text-decoration-color: #2F3035;
    -moz-text-decoration-color: #2F3035;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.labelName{
    font-family: 'SFProDisplayRegular';
    font-size: 14px;
    color: #C4C4C4;
}