.categoriesWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.catalogCheck {
    padding: 4px !important;
}

.newsWrap {
    display: flex;
}

.schoice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brendWrap {
    display: flex;
    flex-wrap: wrap;
}

.schoice{
    min-width: 21%;
}

.modelChois {
    max-width: 291px;
    height: 30px;
    border: 1px solid #E0E0E0;
}

.modelWrap,
.countruWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.filterTitle {
    color: #2F3035;
    font-family: 'SFProDisplayMedium';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.checkText {
    font-family: 'SFProDisplayRegular';
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.polzunok{
    display: flex;
    justify-content: space-between;
}

.polzunokInputLeft{
    max-width: 74px;
    padding-left: 12px;
    border:none;
}

.polzunokInputLeft::placeholder{
    text-decoration: underline;
    text-decoration-color: #2F3035;
    -moz-text-decoration-color: #2F3035;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.polzunokInputRight{
    max-width: 74px;
    padding-left: 12px;
    border:none;
    
}

.polzunokInputRight::placeholder{
    text-decoration: underline;
    text-decoration-color: #2F3035;
    -moz-text-decoration-color: #2F3035;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.labelName{
    font-family: 'SFProDisplayRegular';
    font-size: 14px;
    color: #C4C4C4;
}

.priceSelections{
    margin-bottom: 35px;

}