.categoriesWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.catalogCheck {
    padding: 4px !important;
}

.newsWrap {
    display: flex;
}

.schoice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brendWrap {
    display: flex;
}

.modelChois {
    max-width: 291px;
    height: 30px;
    border: 1px solid #E0E0E0;
}

.modelWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.filterTitle {
    font-size: 50px;
}

.polzunok{
    display: flex;
    justify-content: space-between;
}

.polzunokInputLeft{
    max-width: 50px;
    border:none;
    border-bottom: 1px solid #2F3035;
    
}

.polzunokInputRight{
    max-width: 50px;
    border:none;
    border-bottom: 1px solid #2F3035;
    color: #2F3035;
    font-family: 'SFProDisplayMedium';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.checkText {
    font-family: 'SFProDisplayRegular';
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}