.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    margin-top: 86px;
    margin-bottom: 72px;
    height: 165px;
    background-color: #1C62CD;
}
.SectionSale{
    background-color: #1C62CD;
    display: flex;
    padding: 28px 123px 29px 71px;
    justify-content: baseline;
    align-items: center;
}
.saleImages{
    margin-right: 46px;
    display: flex;
}
.saleText{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    width: 301px;
    color: #FFFFFF;
    
}
.saleBtn{
    width: 284px;
    margin-left: 45px;
    height: 57px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color: #2F3035;
}