.swiper-wrapper {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}

.swiperButton {
    content: ''!important;
    position: absolute;
    right: 0px;
    top: -30px;
}

// .sliderBlockShell {
//     .swiper-wrapper {
//         transform: translate3d(-3796px, 0px, 0px) !important;
//     }
// }
.swiper-button-next::after,
.swiper-container-rtl,
.swiper-button-prev::after {
    content: ''!important;
    position: absolute;
    right: 0px;
    top: -30px;
}

.swiper-button-next::after {
    background-image: url(./../../assets/images/Slider/rowRight.svg);
    background-size: contain;
    width: 15px;
    height: 28px;
    background-repeat: no-repeat;
}

.swiper-button-prev::after {
    background-image: url(./../../assets/images/Slider/rowRight.svg);
    background-size: contain;
    width: 15px;
    height: 28px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

// .swiper-button-next {
//     position: absolute;
//     right: -15px;
// }
// .swiper-button-prev {
//     position: absolute;
//     left: -15px;
// }