        .tableTop {
            display: flex;
            padding: 50px 151px 50px 38px;
        }
        
        .leftBlock {
            display: flex;
            margin-right: 184px;
            align-items: center;
            justify-content: center;
        }
        
        .tableTopText {
            font-family: 'SFProDisplayRegular';
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            color: #2F3035;
            opacity: 0.7;
            margin-right: 16px;
            margin-left: 38px;
        }