.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    height: 403px;
    padding: 52px 31px 31px 40px;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

.productLike {
    position: absolute;
    top: 0;
    right: 0;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    background: #1C62CD;
    padding-top: 6px;
    width: 63px;
    height: 25px;
    color: #FFFFFF;
    font-family: 'SFProDisplayRegular';
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-align: center;
}

.productCardImg {
    margin-bottom: 14px;
}

.productCardTitle {
    max-width: 229px;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #2F3035;
    font-family: 'SFProDisplayRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.productCardCash {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #2F3035;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.amptyProduct {
    display: none;
}

.buyBtn {
    display: block;
    width: 60px;
    height: 40px;
    background-color: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.BtnLink {
    display: none;
    padding: 18px 21px 17px 22px;
    position: absolute;
    width: 230px;
    height: 61px;
    left: 15px;
    top: 110px;
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #2F3035;
    font-family: 'SFProDisplayRegular';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.productCard:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    .BtnLink {
        display: block;
    }
    transition: 0.7ms;
    .productCardCash,
    .productCardTitle {
        color: #1C62CD;
    }
}

.testClass {
    // box-shadow: 14px 4px 8px 54px rgba(34, 60, 80, 0.2);
}