@import "./../../../../style/sass/vars.scss";

.cardStock{
    max-width: 264px;
    height: 397px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.stockTop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.stockName{
    font-family: ProximaNovaBold, serif;
    color: #fff;
    font-size: 12px;
    text-transform:uppercase;
    letter-spacing: 1.5px;
    background-color: #1C62CD;
    padding: 8px 20px;
}
.newPrace{
    font-family: BarlowBold, serif;
    color: #1C62CD;
    font-size: 27px;
    line-height: 32px;
    text-align:right;
    padding-right: 27px;
    position: relative;
}
.newPrace::after{
    content: url(./../../../../assets/images/mainImages/blueRubl.svg);
    position: absolute;
    top: -1px;
    right: 5px;
}

.oldPrace{
    font-family: BarlowRegular, serif;
    color: $textLight;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
    padding-right: 15px;
    position: relative;
}

.oldPrace::before{
    content: "";
    display: block;
    width: 60px;
    height: 0.5px;
    background-color:#C4C4C4;
    text-decoration: line-through;
    // transform: rotateY(45deg);
    // -webkit-transform: rotateY(45deg);
    // -moz-transform: rotateY(45deg);
    // -ms-transform: rotateY(45deg);
    // -o-transform: rotateY(45deg);
    position: absolute;
    top: 6px;
    right: 11px;
}
.oldPrace::after{
    content: url(./../../../../assets/images/mainImages/grayRubl.png);
    position: absolute;
    top: 0px;
    right: 1px;
}

.stockWrapImg{
    display: flex;
    justify-content: center;
    height: 177px;
    max-width: 125px;
    margin: 0 auto;
}
.SaleImg{
    width: 100%;
}

.stockTitle{
    display: block;
    max-width: 155px;
    font-family: SFProDisplayBold, serif;
    font-size: 18px;
    color:#2F3035;
    margin: 0 auto 7px;
}
.stockBottom{
    background-color: #F0F0F4;
    overflow: hidden;
}

.stockTextInfo{
    font-family: SFProDisplayRegular, serif;
    font-size: 18px;
    color: #2F3035;
    text-align: center;
    padding-top: 26px;
}

.stockDate{
    display: block;
    font-family: BarlowBold, serif;
    color: #1C62CD;
    font-size: 18px;
    line-height: 100%;
    text-align:center;
    margin-bottom: 25px;
}
