.selectLabel {
    font-family: 'SFProDisplayRegular';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    margin: 0 auto;
}

.selectHeader {
    padding: 10px;
}