.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(154, 206, 211);
}

// .catalogTop {
//     padding-top: 41px;
//     padding-bottom: 47px;
// }
.title {
    padding-bottom: 26px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .groupBtnLeft {
//     max-width: 444px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
// .btnMeta {
//     width: 159px;
//     height: 25px;
//     background: #F0F0F4;
//     border-radius: 3px;
//     border: none;
//     margin-right: 8px;
//     color: #2F3035;
//     opacity: 0.7;
//     font-family: 'SFProDisplayRegular';
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 17px;
// }
.groupRight {
    display: flex;
}

.btnRight {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.btnRight:first-child {
    margin-right: 10px;
}

.btnBlock {
    display: flex;
    margin-left: 34px;
}