.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}