.btnMeta {
    // width: 100px;
    padding: 4px 28px 4px 22px;
    height: 25px;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    margin-right: 8px;
    color: #2F3035;
    opacity: 0.7;
    font-family: 'SFProDisplayRegular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}